* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
  border: none;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #2f3e46;
  align-items: center;
  padding: 80px;
}
h1 {
  margin-bottom: 50px;
  color: #bc6c25;
}
.container {
  background-color: #cad2c5;
  display: flex;
  flex-direction: column;
  padding: 50px;
  border-radius: 20px;
  height: 300px;
  position: relative;
}
.array_input {
  display: flex;
  justify-content: space-around;
}
.input input {
  border-radius: 5px;
}
input:focus::placeholder {
  color: transparent;
}
/* turn off arrow Moz */
input[type="number"] {
  -moz-appearance: textfield;
}
/* for chrome,safari,edge,opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.feature select {
  border-radius: 5px;
}
.button {
  position: absolute;
  right: 20;
  bottom: 20;
}
/* .array_info {
  width: 100%;
  height: 70%;
} */
#button {
  border-radius: 5px;
  transition: all 0.3s;
}
.show {
  display: block;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  width: 98%;
}
